.p-container{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: 
    url('../../assets/lines.svg'), 
    linear-gradient(170deg, #494B4E, #1D2027);
  background-position: center;
  padding: 6rem 1rem;
  border-radius: 1rem;
  gap: 4.4rem;
}